/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Libre+Baskerville&family=Roboto&family=Satisfy&display=swap');* {
    
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    font-family: 'Roboto', sans-serif;

    
    /* Cores */
    --azul-escuro: #13293D;
    --azul-medio: #006494; 
    --azul-claro: #1B98E0;
    --titulo: white;
    --sombra: rgba(255, 255, 255, 0.411);
    color: white;

}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #03111a;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}
/* Menu */
.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

header > nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #06283D;
    height: 8vh;
}
.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}







a {
    color: var(--titulo);
    text-decoration: none;
}
a:hover {
    text-shadow:  0.5em 0.5em 0.5em var(--sombra);
}
p {
    margin: 0;
    text-indent: 3ch;
    font-family: 'Open Sans', sans-serif;
}
h1 {
    text-indent: 1em;
    font-size: 35px;
    text-align: left;
    color: var(--titulo);
    font-family: 'Satisfy', cursive;
    text-shadow: 2px 3px var(--azul-medio);
}
.title {
    text-align: center;
}
/* - Seções */
section {
    margin: 0;
    padding: 0;
    width: 100%;
    /*background-color: var(--azul-escuro);*/
}


/* 



*/
.rolagem {
    margin: 0;
    width: 100%;
    text-align: center;
    display: inline-block;
}

/* Qualificações */
.conhecimento{
    width: 100%;
    margin-left: 2%;
}
.info-lang {
    background-color: #1365df46;
    border-radius: 10px;
    padding: 5px;
    width: 90%;
    margin-left: 3%;
    box-shadow: 0 0 1em rgba(255, 255, 255, 0.459);
    margin-bottom: 20px;
}
.lang-img-programa {
    display: inline-block;
}
.lang-img-programa img{
    width: 10%;
}
.lang-img-programa > img:hover .info-lang{
    display: none;
}

/*
=== Icones de Projetos ===
Responsavel pela criação dos icones de projetos com video de fundo,
e descição do Projeto. 
*/

/* -> Criação de Icone de Projeto */
.project {
    /*Ajuste a largura e altura desejadas aqui*/
    --width-p: 290px;
    --height-p: 290px;
    --radius-p: 20px;

    margin: 2%;
    position: relative;
    display: inline-block;
    width: var(--width-p);
    height: var(--height-p);
    border-radius: var(--radius-p);
    box-shadow:  0 0 1em rgba(0, 0, 0, 0.692);
}

.project:hover{
    -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
    box-shadow:  0 0 1em var(--sombra);

}
.project > .bg-video {
    width: var(--width-p);
    height: var(--height-p);
    /*position: absolute;*/
    border-radius: var(--radius-p);
} 
.project > .bg-video > video{
    border-radius: var(--radius-p);
    top: 0;
    left: 0;
    z-index: -1; /*apenas um -1 é necessário quando se trabalha com relative + absolute, sendo pai e filho*/
    width: 100%;
    height: 100%;
    overflow: hidden; /* evita do video passar a altura desejada do .wrap */
}

/* --> Conteiner de Texto de Projeto */
.container {
    width: 100%;
    height: 30%;
    bottom: 0;
    color: black;
    position: absolute;
    border-radius: var(--radius-p);
    background-color: rgba(255, 255, 255, 0.952);
}
.container:hover {
    background: -moz-linear-gradient(top, rgba(255,0,0,0) 0%, rgb(255, 255, 255) 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%,rgb(255, 255, 255) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgb(255, 255, 255) 100%);
    color: rgba(0, 0, 0, 0.363);
}
.container h3 {
    padding-left: 0.5em;
    color: black;
}
.container p{
    color: black;
}

/*
Resnponsavel pela aba de contato 



*/
/* --> Contato */
.contato {
    color: var(--titulo);
    font-family: 'Open Sans', sans-serif;
}
.contato > p {
    text-align: center;
}
.contato > div {
    display: inline-block;
    vertical-align: top;
}

/* ---> Lateral Direita */
.contato > div#direita {
    width: 20%;
    padding-left: 10px;
    vertical-align: middle;
}
.contato > div#direita span{
    color: var(--azul-claro);
}
/* ---> Centro */
.contato > div#centro {
    width: 53%;
    padding-left: 3%;
}
.contato > div#centro > form {
    padding: 5px;
    text-align: left;
}
.contato > div#centro > form > label {
    width: 100%;
    margin-top: 5px;
}
/* ----> Animação do Imput*/
.label-float{
    position: relative;
    padding-top: 13px;
}
.label-float input{
border: 0;
outline: none;
width: 90%;
color: var(--azul-medio);
border-bottom: solid 4px var(--azul-medio);
/* Animação */
background-color: transparent;
transition: all .3s ease-out;
-webkit-transition: all .3s ease-out;
-moz-transition: all .3s ease-out;
-webkit-appearance:none;
border-radius:0;
}
.label-float input:hover{
    border: none;
    border-bottom: solid 4px var(--azul-claro);
    box-shadow:  0 0.1em 0 var(--sombra);
}
.label-float input:focus{
border-bottom: 4px solid var(--azul-claro);
}
.label-float input::placeholder{
color:transparent;
}
.label-float label{
pointer-events: none;
position: absolute;
top: 0;
left: 0;
margin-top: 13px;
transition: all .3s ease-out;
-webkit-transition: all .3s ease-out;
-moz-transition: all .3s ease-out;
}
.label-float input:focus + label,
.label-float input:not(:placeholder-shown) + label{
margin-top: 0;
}
.contato > div#centro > form > textarea {
    width: 90%;
    border: none;
    padding: 3px;
    resize: none;
    outline: none;
    margin-top: 5px;
    border-radius: 5px;
    color: var(--titulo); 
    background-color: var(--azul-medio);
}
.contato > div#centro > form > textarea:focus {
    background-color: var(--azul-claro);
    box-shadow:  0 0 1em var(--sombra);
}
.contato > div#centro > form > textarea:hover {
    box-shadow:  0 0 1em var(--sombra);
}
.contato > div#centro > form > button#btn {
    border: none;
    color: var(--titulo);
    width: 90%;
    font-size: larger;
    text-align: center;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--azul-claro);
}
.contato > div#centro > form > button#btn:hover {
    box-shadow:  0 0 1em var(--sombra);
    font-size: x-large;

}

/* ---> Lateral Esquerda*/
.contato > div#esquerda {
    width: 20%;
    right: 5%;
}
.contato > div#esquerda > ul  {
    width: 100%;
}
.contato > div#esquerda > ul > li {
    list-style: none;
    text-align: right;
    display: inline-block;
    width: 100%;
}
.contato > div#esquerda > ul > li > a {
    width: 30%;
    border-radius: 100%;
}
.contato > div#esquerda > ul > li > div {
    width: 25%;
    padding: 10px;
    font-size: smaller;
    position: absolute;
    text-align: left;
    border-radius: 10px;
    background-color: var(--azul-claro);
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
}
.contato > div#esquerda > ul > li > div:hover {
    box-shadow:  0 0 1em var(--sombra);
}
.contato > div#esquerda > ul > li > div > a {
    color: var(--titulo);
    font-weight: bold;
    text-decoration: none;
}
.contato > div#esquerda > ul > li > div > a:hover {
    text-shadow:  0.5em 0.5em 0.5em var(--azul-medio);
}
.contato > div#esquerda  img{
    width: 25%;
    border-radius: 100%;
}
.contato > div#esquerda  img:hover {
    -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
    box-shadow:  0 0 1em var(--sombra);
}

/* ---> Rodape */
.contato > div#rodape {
    width: 100%;
}
.contato > div#rodape img {
    width: 20%;
    text-align: center;
}
.contato > div#rodape img:hover {
    -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
/* ----> Laterais */
.contato > div#rodape > div {
    width: 30%;
    display: inline-block;
}
.contato > div#rodape > div > p,a{
    text-align: center;
    font-size: medium;
}
.contato > div#rodape > div > p > a:hover{
    text-shadow:  0.2em 0.2em 0.2em var(--sombra);
}
.contato > div#rodape > div > p > span {
    text-align: center;
    font-size: larger;
    color: var(--azul-medio);
}

/* Footer */
footer {
    margin-top: 3vh;
    width: 100%;
    padding: 2.5vh;
    background-color: #1365df46;
    margin-bottom: 0vh;
}
footer ul {
    display: inline-block;
    align-items: center;
    padding-left: 20vh;
}
footer p {
    margin-top: 2vh;
    text-align: center;
}
footer img{
    width: 4vh;
}
